<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scraping Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Scrape Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars</a></p>
    </div>

    <!-- surf data -->
    <div class="row" id="mars-news">
  <div class="col-md-12">
        <h2>Recent Mars News</h2>
        <h4>{{mars.new_title}}</h4>
        <p>{{mars.news_p}}</p>
    </div>
  </div>
<div class="row">
  <div class="col-md-8">
    <h2>Featured Mars Image</h2>
    <img src="{{mars.img_url}}" class="img-responsive"
      alt="Responsive image">
  </div>


    <div class="row">
      <div class="col-md-12">
              <div class="panel-body">
                  <h4>Mars Weather</h4>
                  <p>{{mars.mars_weather}}</p>
              </div>
          </div>


      </div>

    <!-- Mars Facts -->
    <div class="row" id="mars-facts">
      <div class="col-md-12"> 
        <h4>Mars Facts</h4>
        {{ mars.data | safe}}
      </div>
</div>
<div class="row" style="margin-top:80px;">
    <h2 class="text-center">Mars Hemispheres</h2>
  </div>


  {% for hem in mars.hem %}
    <div class="col-md-6">
        <div class="thumbnail">
        <img src="{{hem.img_url}}"
            alt="uh-oh">
            <p>{{hem.title}}</p>
        </div>
    </div>
  {% endfor %}

</div>

</div>
</body>

</html>
</body>
</html>